body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.input-forms {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.btn {
    margin-bottom: 30px;
    width: 800px;
    background-color: bisque;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.result-boxes-container {
    width: 800px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hidden {
    display: none;
}
.result-box {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-bottom: 30px;
}
.label {
    width: 100%;
    text-align: center;
}
.result {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 44px;
    background-color: rgb(184, 130, 63);
    border-radius: 3px;
    color: white;
}
